body {
    background-color: #f4f4f4;
    columns: #555;
    font: Arial, Helvetica, sans-serif 16px; 
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%; 
    margin: auto; 
    overflow: hidden;
}

#main-header {
    background-color: coral; 
    color: #fff;
}

#navbar {
    background-color: #333; 
    color: #fff;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar a{
    color: #fff;
    text-decoration: none; 
    font: 18px;
    padding-right: 15px;
}

#showcase {
    min-height: 100px;
    margin-bottom: 30px;
    text-align: center;
    margin: auto;
    width: 70%;
}

#showcase h1 {
    color: #333;
    font-size: 40px;
    line-height: 1.2em;
    padding-top: 30px;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    
}

#main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0;
}
